body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

.heading {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 30px;
  font-weight: 500;
  color: #333;
}

.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  margin: 0;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.submit {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #45a049;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 24px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.todo:hover {
  transform: scale(1.02);
}

.cross-button {
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cross-button:hover {
  background-color: #e2e2e2;
  color: white; /* Add this line to make the cross emoji visible */
}